In [23]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import math
!pip install word2number
import word2number as w2n
from word2number import w2n

Requirement already satisfied: word2number in c:\users\talib\anaconda3\lib\site-packages (1.1)

In [14]:
df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/2_linear_reg_multivariate/Exercise/hiring.csv")

In [34]:
df.experience = df.experience.fillna("zero")
df.experience.dtypes

dtype('int64')

In [35]:
df["experience"] = df.experience.astype(str)
df.experience = df.experience.apply(w2n.word_to_num)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [42]:
mean_test = math.floor(df['test_score(out of 10)'].mean())
mean_test

7

In [46]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(mean_test)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [51]:
model = linear_model.LinearRegression()
model.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']], df['salary($)'])

LinearRegression()

In [53]:
model.predict([[2,9,6]])

array([53713.86677124])

In [54]:
model.predict([[12,10,10]])

array([93747.79628651])